<div class="my-projects">
    <div class="projects-header">
        <h2>My Projects</h2>
    </div>
    <a href="/addnewproject">+Add a new project</a>
    <div class="my-projects-body">
        {{#each projects as |project|}}
        <div class="divider"></div>
        <div class="project">
            <div class="project-item-group">
                <h4>{{project.name}}</h4>
                <p>Event Date: {{format_date project.event_date}}</p>
                <p>Donation Goal: ${{project.event_fund}}</p>
                <button class="project-details" type="button" projectid="{{project.id}}">View event details</button>
            </div>
            <div class="project-item-group">
                <img src="./image/{{project.event_type}}.png" alt="Event Type Image">
            </div>
            <div class="project-item-group"
                <p>{{project.description}}</p>
            </div>
        </div>
        {{/each}}       
    </div>
</div>

<script src="./js/projects.js"></script>